<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- 是否做了 App 跟踪 -->
	<key>NSPrivacyTracking</key>
	<false/>
	<!-- 跟踪所用域名（无） -->
	<key>NSPrivacyTrackingDomains</key>
	<array/>
	<!-- 收集的数据类型（无） -->
	<key>NSPrivacyCollectedDataTypes</key>
	<array/>
	<!-- 使用受限 API 的理由（必填） -->
	<key>NSPrivacyAccessedAPITypes</key>
	<array>
		<dict>
			<!-- UserDefaults：用于持久化网格布局/收藏/最近使用 -->
			<key>NSPrivacyAccessedAPIType</key>
			<string>NSPrivacyAccessedAPICategoryUserDefaults</string>
			<key>NSPrivacyAccessedAPITypeReasons</key>
			<array>
				<string>CA92.1</string>
			</array>
		</dict>
		<dict>
			<!-- 文件时间戳：用于记录"最近使用"等 -->
			<key>NSPrivacyAccessedAPIType</key>
			<string>NSPrivacyAccessedAPICategoryFileTimestamp</string>
			<key>NSPrivacyAccessedAPITypeReasons</key>
			<array>
				<string>C617.1</string>
			</array>
		</dict>
		<dict>
			<!-- 系统启动时间：用于性能日志 -->
			<key>NSPrivacyAccessedAPIType</key>
			<string>NSPrivacyAccessedAPICategorySystemBootTime</string>
			<key>NSPrivacyAccessedAPITypeReasons</key>
			<array>
				<string>35F9.1</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
